@model comando.Models.profile

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>profile</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lastname)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lastname)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.addrress)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.addrress)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.phones)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.phones)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.useid)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.useid)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
